**Installing Filesystem Interface**

In [ ]:
pip install fsspec

Collecting fsspec
  Downloading https://files.pythonhosted.org/packages/a5/8b/1df260f860f17cb08698170153ef7db672c497c1840dcc8613ce26a8a005/fsspec-0.8.4-py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 5.0MB/s
Installing collected packages: fsspec
Successfully installed fsspec-0.8.4

**Uploading files**

In [1]:
from google.colab import files
uploaded = files.upload()

Saving 0708.csv to 0708.csv
Saving 0809.csv to 0809.csv
Saving 0910.csv to 0910.csv
Saving 1011.csv to 1011.csv
Saving 1112.csv to 1112.csv
Saving 1213.csv to 1213.csv
Saving 1314.csv to 1314.csv
Saving 1415.csv to 1415.csv
Saving 1516.csv to 1516.csv
Saving 1617.csv to 1617.csv
Saving 1718.csv to 1718.csv
Saving 1819.csv to 1819.csv
Saving 1920.csv to 1920.csv
Saving example.csv to example.csv
Saving temp.csv to temp.csv

**Importing Libraries**

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

**Loading .csv files to dataframes**

In [3]:
s1 = pd.read_csv("0708.csv")
s2 = pd.read_csv("0809.csv")
s3 = pd.read_csv("0910.csv")
s4 = pd.read_csv("1011.csv")
s5 = pd.read_csv("1112.csv")
s6 = pd.read_csv("1213.csv")
s7 = pd.read_csv("1314.csv")
s8 = pd.read_csv("1415.csv")
s9 = pd.read_csv("1516.csv")
s10 = pd.read_csv("1617.csv")
s11 = pd.read_csv("1718.csv")
s12 = pd.read_csv("1819.csv")
s13 = pd.read_csv("1920.csv")
example = pd.read_csv("example.csv")
temp = pd.read_csv("temp.csv")

**Preprocessing**

Checking the dates of first and last matches

In [ ]:
s = [s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13]
for s in s:
  print(s['Date'].iloc[[0,-1]])
  print("-"*30)

Legend(abbrev.)

In [ ]:
#print(len(example.columns))
s_col = list(s1.columns)
e_col = list(example.columns)
for i in range(0,23):
  print(s_col[i],"\t:",e_col[i])

Div 	: Div
Date 	: Date
HomeTeam 	: HomeTeam
AwayTeam 	: AwayTeam
FTHG 	: Full time home goals
FTAG 	: Full time away goals
FTR 	: Full time result
HTHG 	: Half time home goals
HTAG 	: Half time away goals
HTR 	: Half time result
Referee 	: Referee
HS 	: Home shots
AS 	: Away shots
HST 	: Home shots on target
AST 	: Away shots on target
HF 	: Home fouls
AF 	: Away fouls
HC 	: Home corners
AC 	: Away corners
HY 	: Home yellows
AY 	: Away yellows
HR 	: Home reds
AR 	: Away reds

Checking for null values

In [ ]:
count = 1
s = [s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13]
for s in s:
  if s.isnull().values.any() == True:
    print("-"*50)
    print("Season",count,"\t:True")
    for col in s.columns:
      if s[col].isnull().values.any() == True:
        print(col,":",s[col].count())
  count+=1
print("-"*50)

In [ ]:
t1 = s1.HomeTeam.unique().tolist()
t1.sort()
for t in t1:
  print(t)

In [ ]:
s1.groupby('HomeTeam').mean()

Converting all dates to YYYY format

In [4]:
s = [s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13]
for s in s:
  for i in range(len(s.Date)):
    d,m,yr = s.Date.iloc[i].split('/')
    y = int(yr)
    if len(yr)==2:
      y+=2000
    s.Date.iloc[i] = d+'/'+m+'/'+str(y)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Function to parse date using strptime()

In [5]:
def parse_date(d):
  if d=='':
    return None
  else:
    return dt.strptime(d,'%d/%m/%Y').date()

Parsing all the dates

In [6]:
from datetime import datetime as dt
s = [s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,s11,s12,s13]

for s in s:
  s.Date = s.Date.apply(parse_date)

In [7]:
for i in range(len(temp.Date)):
    d,m,yr = temp.Date.iloc[i].split('/')
    y = int(yr)
    if len(yr)==2:
      y+=2000
    temp.Date.iloc[i] = d+'/'+m+'/'+str(y)

temp.Date = temp.Date.apply(parse_date)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [23]:
def team_stats(team):
  temp_df = temp[temp['HomeTeam']==team]

  temp_df['AvgGoalScored'] = ''
  temp_df['AvgGoalConceded'] = ''
  temp_df['AvgShotsHome'] = ''
  temp_df['AvgShotsAway'] = ''
  temp_df['AvgShotsOnTargetHome'] = ''
  temp_df['AvgShotsOnTargetAway'] = ''

  for i in range(len(temp_df)):
    gs, gc, h_shots, a_shots, h_on_target, a_on_target = [], [], [], [], [], []
    if i==0:
      temp_df['AvgGoalScored'].iloc[0] = 0.00
      temp_df['AvgGoalConceded'].iloc[0] = 0.00
      temp_df['AvgShotsHome'].iloc[0] = 0.00
      temp_df['AvgShotsAway'].iloc[0] = 0.00
      temp_df['AvgShotsOnTargetHome'].iloc[0] = 0.00
      temp_df['AvgShotsOnTargetAway'].iloc[0] = 0.00
    else:
      for j in range(len(temp_df)):
        if temp_df['Date'].iloc[i]>temp_df['Date'].iloc[j]:
          gs.append(temp_df['FTHG'].iloc[j])
          gc.append(temp_df['FTAG'].iloc[j])
          h_shots.append(temp_df['HS'].iloc[j])
          a_shots.append(temp_df['AS'].iloc[j])
          h_on_target.append(temp_df['HST'].iloc[j])
          a_on_target.append(temp_df['AST'].iloc[j])
          
        else:
          break
      #print('Scored',gs)
      #print('Avg Scored',np.around(np.mean(gs),2))
      #print('Conceded',gc)
      #print('Avg Conceded',np.around(np.mean(gc),2))
      #print('-'*50)
      temp_df['AvgGoalScored'].iloc[i] = np.around(np.mean(gs),2)
      temp_df['AvgGoalConceded'].iloc[i] = np.around(np.mean(gc),2)
      temp_df['AvgShotsHome'].iloc[i] = np.around(np.mean(h_shots),2)
      temp_df['AvgShotsAway'].iloc[i] = np.around(np.mean(a_shots),2)
      temp_df['AvgShotsOnTargetHome'].iloc[i] = np.around(np.mean(h_on_target),2)
      temp_df['AvgShotsOnTargetAway'].iloc[i] = np.around(np.mean(a_on_target),2)
    
  season_df = temp_df[['Date','HomeTeam','AwayTeam','FTR','HTR','FTHG','FTAG','AvgGoalScored','AvgGoalConceded','HTHG','HTAG','HS','AS','AvgShotsHome','AvgShotsAway','HST','AST',
                       'AvgShotsOnTargetHome','AvgShotsOnTargetAway','HF','AF','HC','AC','HY','AY','HR','AR']]
  return season_df

In [31]:
team_list = temp.HomeTeam.unique().tolist()
stats = pd.DataFrame()
for team in team_list:
  stats = stats.append(team_stats(team))

stats.sort_index()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Date       HomeTeam     AwayTeam FTR HTR  ...  AC  HY AY HR  AR
0    2007-08-11    Aston Villa    Liverpool   A   A  ...   2   4  2  0   0
1    2007-08-11         Bolton    Newcastle   A   A  ...   3   1  1  0   0
2    2007-08-11          Derby   Portsmouth   D   D  ...   6   1  2  0   0
3    2007-08-11        Everton        Wigan   H   H  ...   2   0  0  0   0
4    2007-08-11  Middlesbrough    Blackburn   A   H  ...   3   3  4  0   0
..          ...            ...          ...  ..  ..  ...  ..  .. .. ..  ..
375  2008-05-11     Portsmouth       Fulham   A   D  ...   6   0  0  0   0
376  2008-05-11     Sunderland      Arsenal   A   A  ...   4   1  1  0   0
377  2008-05-11      Tottenham    Liverpool   A   D  ...   4   1  1  0   0
378  2008-05-11       West Ham  Aston Villa   D   D  ...   8   2  2  0   0
379  2008-05-11          Wigan   Man United   A   A  ...  12   3  2  0   0

[380 rows x 27 columns]

In [ ]:
l = []

l.append(temp_df.FTHG.mean())
l.append(len(temp_df))
print(l)
print(np.mean(l))

[1.2105263157894737, 19]
10.105263157894736

In [ ]:
a,b = [], []
a.append(2)
b.append(7)
print(a)
print(b)

[2]
[7]

In [ ]:
temp_df[['Date','HomeTeam','AwayTeam','FTR','HTR','FTHG','FTAG','AvgGoalScored','AvgGoalConceded','HTHG','HTAG','HS','AS','AvgShotsHome','AvgShotsAway','HST','AST',
      'AvgShotsOnTargetHome','AvgShotsOnTargetAway','HF','AF','HC','AC','HY','AY','HR','AR']]